body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #0d1a2d, #000);
  color: rgb(0, 0, 0);
}

.hero {
  padding: 60px 40px;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}

.text h1 {
  font-size: 36px;
  margin: 0;
}

.text h1 span {
  color: #41c4f5; /* Azul claro para destaque */
  font-weight: bold;
}

.text p {
  font-size: 20px;
  margin-top: 10px;
}

.icon img {
  width: 80px;
  height: auto;
}

/* Linha com ponto à direita */
.linha {
  height: 2px;
  background-color: white;
  position: relative;
  margin-top: 20px;
  width: 100%;
}

.linha::after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
}

